{{> header}}

                {{#each datatutorials}}
                    <li class={{this.name}}>{{this.name}}</li>
                {{/each}}

          

            <!-- Page Container START -->
            <div class="page-container">
                

                <!-- Content Wrapper START -->
                <div class="main-content">
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div class="card">
                                <div class="card-body dashbaordcard">
                                    <div class="media align-items-center">
                                        <img src="/images/avatars/employee.png">
                                        <div class="m-l-15 ">
                                            <h2 class="m-b-0 text-light ">3204</h2>
                                            <p class="m-b-0  text-light ">Total Users</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="card">
                                <div class="card-body dashbaordcard1">
                                    <div class="media align-items-center">
                                         <img src="/images/avatars/sites.png">
                                        <div class="m-l-15">
                                            <h2 class="m-b-0 text-light">1245</h2>
                                            <p class="m-b-0 text-light">Total Site</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="card">
                                <div class="card-body dashbaordcard2">
                                    <div class="media align-items-center">
                                        <img src="/images/avatars/employee.png">
                                        <div class="m-l-15 ">
                                            <h2 class="m-b-0 text-light ">32042</h2>
                                            <p class="m-b-0  text-light ">Total Bet List</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="card">
                                <div class="card-body dashbaordcard3">
                                   <div class="media align-items-center">
                                         <img src="/images/avatars/sites.png">
                                        <div class="m-l-15">
                                            <h2 class="m-b-0 text-light">1245</h2>
                                            <p class="m-b-0 text-light">Total Month </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    




                </div>

               
             

            </div>
            <!-- Page Container END -->
 
        
      {{> footer}}
